@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 231 56% 94%;
    --foreground: 235 50% 21%;
    --card: 0 0% 100%;
    --card-foreground: 235 50% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 235 50% 21%;
    --primary: 256 80% 53%;
    --primary-foreground: 0 0% 98%;
    --secondary: 230 40% 88%;
    --secondary-foreground: 256 80% 53%;
    --muted: 230 40% 88%;
    --muted-foreground: 230 25% 45%;
    --accent: 256 80% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 25% 85%;
    --input: 0 0% 100%;
    --ring: 256 80% 53%;

    --chart-1: 256 80% 53%;
    --chart-2: 180 80% 40%;
    --chart-3: 220 70% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 256 80% 53%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 256 80% 53%;
    --sidebar-accent: 256 80% 48%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 256 80% 48%;
    --sidebar-ring: 256 80% 53%;
  }
  .dark {
    --background: 233 33% 12%;
    --foreground: 231 56% 94%;
    --card: 233 33% 17%;
    --card-foreground: 231 56% 94%;
    --popover: 233 33% 17%;
    --popover-foreground: 231 56% 94%;
    --primary: 256 80% 80%;
    --primary-foreground: 256 80% 53%;
    --secondary: 233 33% 22%;
    --secondary-foreground: 256 80% 80%;
    --muted: 233 33% 22%;
    --muted-foreground: 230 30% 65%;
    --accent: 256 80% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 33% 25%;
    --input: 233 33% 25%;
    --ring: 256 80% 53%;

    --chart-1: 256 80% 80%;
    --chart-2: 180 80% 40%;
    --chart-3: 220 70% 50%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 256 50% 20%;
    --sidebar-foreground: 231 56% 94%;
    --sidebar-primary: 231 56% 94%;
    --sidebar-primary-foreground: 256 50% 20%;
    --sidebar-accent: 256 50% 25%;
    --sidebar-accent-foreground: 231 56% 94%;
    --sidebar-border: 256 50% 25%;
    --sidebar-ring: 256 80% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
